.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}

.heading span {
    color:#2db1e6;
}

.speciality{
    background-size: cover;
}

.speciality .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.speciality .box-container .box{
    flex:1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0rem 1rem 2rem 1rem rgba(0,0,0,.1);
    cursor: pointer;
    border-radius: 5rem;
}

.speciality .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.speciality .box-container .box .content{
    text-align: center;
    background: #222020;
    padding: 2rem;
}

.speciality .box-container .box .content img {
    margin: 1.5rem 0;
}

.speciality .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}

.speciality .box-container .box .content p{
    font-size: 1.6rem;
    color: #666;
    padding: 1rem ;
    padding-right: 1rem;
}

.speciality .box-container .box .icone {
    width: 60px;
}

.speciality .box-container .box:hover .image{
    top: 0;
}

.speciality .box-container .box:hover .content{
    transform: translateY(100%);
}

/*cards habilidades*/
.habilidade .content{
    display: flex;
    justify-content: center;
    gap:20px;
    justify-content: center;
    flex-wrap: wrap;
    flex:1 1 30rem;
}

.habilidade .content h1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1e7ae4;
}

.habilidade .content .program{
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 1rem 2rem 1rem rgba(201, 191, 191, 0.1);
    border-radius: 30px;
    width: 40rem;
}

.habilidade .content .desing{
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 1rem 2rem 1rem rgba(201, 191, 191, 0.1);
    border-radius: 30px;
    width: 40rem;
}

.habilidade .content .informatica{
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 1rem 2rem 1rem rgba(201, 191, 191, 0.1);
    border-radius: 30px;
    width: 40rem;
}


.habilidade .loader {
    position: relative;
    width:100px;
    height: 100px;
    border-radius: 50%;
    background:linear-gradient(45deg, #3990f3,#ff28c9);
    animation: animate 1s linear infinite;
    justify-content: center;
    align-items: center;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.habilidade .loader span {
    position: absolute;
    width:100%;
    height: 100%;
    border-radius: 50%;
    background:linear-gradient(45deg, #14ffe9,#ffeb3b, #ff00e0);
}

.habilidade .loader span:nth-child(1) {
    filter: blur(5px);
}

.habilidade .loader span:nth-child(2) {
    filter: blur(10px);
}

.habilidade .loader span:nth-child(3) {
    filter: blur(25px);
}

.habilidade .loader span:nth-child(4) {
    filter: blur(50px);
}

.habilidade .loader:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #333;
    border-radius: 50%;
}
.habilidade .box{
    display: flex;
    padding: 2rem;
    background-color: #2e2929;
}

.habilidade .box:nth-child(even){
    background-color: #141313;
}

.habilidade .box .text {
    margin-left: 20px;
    color: #f7f7f7;
    padding: 2rem;
}

.habilidade .box .text h1 {
    margin-top: 10px;
    margin-bottom: 0px;
    color: antiquewhite;

}

.habilidade .box .text p {
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5px;
}

.habilidade .imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.habilidade .imagem img{
    position: absolute;
    z-index: 10;
    width: 50px;
}

/*cards projetos*/

.trabalhos {
    padding:80px 4%;
}

.trabalhos .flex {
    justify-content: space-around;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    flex:1 1 30rem;
}

.img-port {
   
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 0% 100%;
    border-radius: 30px;
    transition: 5s;
    cursor: pointer;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1413139f;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #f7f7f7;
    opacity: 0;
    transform: .5s;
}

.overlay:hover{
    opacity: 1;
}