.baixo{
    background: #000;
    text-align: center;

}

.baixo .share{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.baixo .share a{
    border-radius: 5rem;
    width: 5rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}


.baixo .credit{
    padding: 2.5rem 1rem;
    color: #ffffff;
    font-size: 2rem;
    
}

.baixo .credit span{
    color: #1e7ae4;
}


.bnt{
    display: inline-block;
    padding: .8rem 3rem;
    border:.2rem solid #ffffff;
    color: #f9fff8;
    cursor:pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.bnt::before{
    content: '';
    position: absolute;
    top:0; 
    right: 0;
    width: 0%;
    height: 100%;
    background:linear-gradient(45deg, #3990f3,#ff28c9);
    transition: .3s linear;
    z-index: -1;
}

.bnt:hover::before{
    width: 100%;
    left: 0;
}

.bnt:hover{
    color: #ffffff;
}

.credit{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}

.credit span:hover {
    color:#ff28c9;
}